﻿/* Global styles */
.body-content {
    padding: 10px;
    overflow-x: hidden;
}

/* Category view styles*/
.row p {
    margin-left: 15px;
    margin-right: 15px;
}

.row h2, .row h3 {
    margin-left: 15px;
    margin-right: 15px;
}

.category-box-container {
    max-width: 610px;
    margin: 0 auto;
}

.category-box {
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin: 5px 0;
    padding: 5px 0px;
}

.category-box .img-thumbnail {
    border: 0;
    border-radius: 0;
    margin: 0 auto;
    display: block;
}

.category-box div {
    text-align: center;
}

/* Card view styles*/
.all-cards-link:before {
    content: '« ';
    font-size: 16px;
}

.card-box-container {
    max-width: 610px;
    margin: 0 auto;
}

.card-box {
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin: 5px 0;
    padding: 5px 0px;
}

.card-box .img-thumbnail {
    border: 0;
    border-radius: 0;
    margin: 0 auto;
    display: block;
}

.card-box div {
    text-align: center;
}

/* Customization form styles*/
.required:after {
    content: ' *';
    color: #ff0000;
}

.card-image img {
    margin: 0 auto;
}

.form-section h2 {
    margin-left: 0;
    margin-right: 0;
}

label.error {
    padding: 5px;
    margin: 5px 0;
    color: #ff0000;
    font-weight: normal;
    font-style: italic;
    background-color: #eeeeee;
    border-radius: 4px;
}

.required-text {
    color: #ff0000;
    margin-bottom: 0px;
    margin-top: 5px;
}

#previewCard {
    background-color: #FEBE10;
    border-radius: 0;
    border: 0;
    box-shadow: none;
    color: #4A4A4A;
}

/* Preview styles */
#card-preview {
    max-width: 600px;
    margin: 0 auto;
}

.personal-message {
    margin-bottom: 10px;
}

#submit-links {
    margin-top: 20px;
}

#submit-links a {
    padding: 10px 15px;
    background-color: #FEBE10;
    color: #4A4A4A;
}

#submit-links a:hover, #submit-links a:active, #submit-links a:visited, #submit-links a:focus {
    text-decoration: none;
}

#submit-links #goBack {
    float: left;
} 

#submit-links #sendCard {
    float: right;
}

#submit-links .disabled {
    opacity: .75;
    cursor: default;
}

@media screen and (max-width: 400px) {
    #submit-links #goBack {
        display: block;
        text-align: center;
        max-width: 230px;
        margin: 0 auto;
        float: none;
    }

    #submit-links #sendCard {
        display: block;
        text-align: center;
        max-width: 140px;
        margin: 0 auto;
        margin-top: 10px;
        float: none;
    }
}

/* Confirmation styles */
.print-link {
    color: #4A4A4A;
    background-color: #FEBE10;
    text-decoration: none;
    padding: 10px 15px;
    margin-left: 15px;
}

.another-card-link {
    background-color: #FEBE10;
    color: #4A4A4A;
    padding: 10px 15px;
}

.another-card-link:nth-child(2) {
    margin-left: 0px;
}

.another-card-link:nth-child(3) {
    margin-left: 30px;
}

@media screen and (max-width: 350px) {
    .another-card-link:nth-child(3) {
        display: block;
        margin: 0 auto;
        max-width: 150px;
        margin-top: 20px;
    }
}

.another-card-link:hover, .print-link:hover, .another-card-link:active, .print-link:active, .another-card-link:visited, .print-link:visited,
.another-card-link:focus, .print-link:focus {
    text-decoration: none;
    color: #4A4A4A;
}

.print-link-disclaimer {
    font-size: 9px;
    margin-top: 10px;
    color: #ff0000;
}

#another-card {
    margin-top: 30px;
    text-align: center;
}