﻿@model IEnumerable<BaptistCheerCardApplication.Models.Card>

@{
    ViewBag.Title = "Send a Cheer Card";
}
<h2>Select Your Card Design</h2>
<a class="all-cards-link" href="/Home/Index">All Cards</a>
<div class="row">
    @foreach (var item in Model) {
        <div class="col-xs-6 col-sm-4 col-lg-3">
            <div class="card-box-container">
                <div class="card-box">
                    @{ 
                        BaptistCheerCardApplication.Models.CardImage cardImage = item.CardImageObject;
                        bool isValidHost = Uri.IsWellFormedUriString(cardImage.ItemMedialUrl, UriKind.Absolute);
                        string cardImageUrl = "";
                        if (isValidHost) {
                            cardImageUrl = cardImage.ItemMedialUrl;
                        }
                        else {
                            cardImageUrl = "https://" + ViewBag.RootDomain + cardImage.ItemMedialUrl;
                        }
                        // Strip off query string arguments
                        UriBuilder cardImageUriObj = new UriBuilder(cardImageUrl);
                        cardImageUriObj.Query = "bc=transparent&db=web";
                        cardImageUrl = cardImageUriObj.ToString();
                    }
                    <a href="/Home/Customize/@item.ItemID.Trim(new char[] { '{', '}' })">
                        <img src="@cardImageUrl" alt="@cardImage.Alt" class="img-thumbnail" />
                        <div>@item.Name</div>
                    </a>
                </div>
            </div>
        </div>
                    }
</div>
