﻿@model BaptistCheerCardApplication.Models.Card

@{
    ViewBag.Title = "Send a Cheer Card";
}
<div class="row">
    <div class="col-xs-12">
        <h2 class="confirmation-message">Your card has been sent!</h2>
        <p class="confirmation-disclaimer">There may be a delay of up to 20 hours for email delivery.</p>
        <a class="print-link" target="_blank" href="@HttpContext.Current.Session["pdfLinkUrl"]">Print this card</a>
        <p class="print-link-disclaimer">* This print link will be available for 1 hour.</p>
    </div>
</div>
<div class="row" id="card-preview">
    <div class="preview-container">
        <div class="col-xs-12">
            <div class="text-center introduction"><h2>Hello, @HttpContext.Current.Session["patientFirstName"] @HttpContext.Current.Session["patientLastName"]</h2></div>
            <div class="personal-message">@HttpContext.Current.Session["personalMessage"]</div>
        </div>
        <div class="card-image col-xs-12">
            @{
                BaptistCheerCardApplication.Models.CardImage cardImage = Model.CardImageObject;
                bool isValidHost = Uri.IsWellFormedUriString(cardImage.ItemMedialUrl, UriKind.Absolute);
                string cardImageUrl = "";
                if (isValidHost) {
                    cardImageUrl = cardImage.ItemMedialUrl;
                }
                else {
                    cardImageUrl = "https://" + ViewBag.RootDomain + cardImage.ItemMedialUrl;
                }
                // Strip off query string arguments
                UriBuilder cardImageUriObj = new UriBuilder(cardImageUrl);
                cardImageUriObj.Query = "bc=transparent&db=web";
                cardImageUrl = cardImageUriObj.ToString();
            }
            <img class="img-responsive" src="@cardImageUrl" alt="@Model.CardImageObject.Alt" />
        </div>
        <div class="from-details col-xs-12">
            @{
                string serverUrl = String.Format("{0}://{1}", Request.Url.Scheme, Request.Url.Host);
            }
            <img class="img-responsive" src="@BaptistCheerCardApplication.Utils.LocationLogo.GetUrl(HttpContext.Current.Session["hospitalLocation"].ToString(), serverUrl)" />
            <div class="from-name">
                From: @HttpContext.Current.Session["firstName"] @HttpContext.Current.Session["lastName"]<br />
                @HttpContext.Current.Session["emailAddress"]<br />
                @HttpContext.Current.Session["phoneNumber"]
            </div>
        </div>
    </div>
</div>
<div class="row" id="another-card">
    <div class="col-xs-12">
        <p>Send another card?</p>
        <a class="another-card-link" href="/Home/Customize/@Model.ItemID">Use the same card</a>
        <a class="another-card-link" href="/Home/Index">Select a new card</a>
    </div>
</div>

