﻿@model BaptistCheerCardApplication.Models.Card

@{
    ViewBag.Title = "Send a Cheer Card";
}

<h2>Preview Your Card Before Sending</h2>
<a class="all-cards-link" href="#" id="goBack" style="margin-bottom: 10px; display: block;">Go Back To Cards List</a>
<div class="row">
    <div class="card-image">
        @{
            BaptistCheerCardApplication.Models.CardImage cardImage = Model.CardImageObject;
            bool isValidHost = Uri.IsWellFormedUriString(cardImage.ItemMedialUrl, UriKind.Absolute);
            string cardImageUrl = "";
            if (isValidHost) {
                cardImageUrl = cardImage.ItemMedialUrl;
            }
            else {
                cardImageUrl = "https://" + ViewBag.RootDomain + cardImage.ItemMedialUrl;
            }
            // Strip off query string arguments
            UriBuilder cardImageUriObj = new UriBuilder(cardImageUrl);
            cardImageUriObj.Query = "bc=transparent&db=web";
            cardImageUrl = cardImageUriObj.ToString();
        }
        <div class="col-xs-12">
            <img class="img-responsive center-block" src="@cardImageUrl" alt="@cardImage.Alt" />
        </div>
    </div>
    <form method="post" action="/Home/Preview" id="card-form">
        <p class="required-text">* denotes a required field</p>
        <div class="form-section clearfix" id="personal-message">
            <div class="col-xs-12">
                <h2>Add a personal message...</h2>
                <div class="form-group">
                    <textarea class="form-control" name="personalMessage" id="personalMessage" maxlength="500"></textarea>
                </div>
                <div id="personal-message-limit">500 characters remaining</div>
            </div>
        </div>
        <div class="form-section clearfix" id="your-details">
            <div class="col-xs-12">
                <h2>Who is this card from?</h2>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="firstName" class="required">Your First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" required />
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="lastName" class="required">Your Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" required />
                </div>
            </div>
            <div class="col-xs-12 col-sm-5">
                <div class="form-group">
                    <label for="emailAddress" class="required">Your Email Address</label>
                    <input type="email" class="form-control" id="emailAddress" name="emailAddress" required />
                    <div class="checkbox">
                        <label for="sendCopy">
                            <input type="checkbox" name="sendCopy" id="sendCopy" value="true" />
                            Send me a copy
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-1">
                <div class="text-center">-OR-</div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    <label for="phoneNumber">Your Phone <span class="example-number">(555-123-1234)</span></label>
                    <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" pattern="[0-9]{3}-?[0-9]{3}-?[0-9]{4}" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-2">
                <div class="form-group">
                    <label for="phoneType">Type</label>
                    <select class="form-control" id="phoneType" name="phoneType">
                        <option value="Home">Home</option>
                        <option value="Cell">Cell</option>
                        <option value="Work">Work</option>
                        <option value="Fax">Fax</option>
                        <option value="Pager">Pager</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-section clearfix" id="their-details">
            <div class="col-xs-12">
                <h2>Who is this card being sent to?</h2>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="patientFirstName" class="required">Recipient's First Name</label>
                    <input type="text" class="form-control" id="patientFirstName" name="patientFirstName" required />
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="patientLastName" class="required">Recipient's Last Name</label>
                    <input type="text" class="form-control" id="patientLastName" name="patientLastName" required />
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="hospitalLocation" class="required">Location</label>
                    <select class="form-control" id="hospitalLocation" name="hospitalLocation" required>
                        <option value="">(Select One)</option>
                        @foreach (string location in ViewBag.Locations) {
                            <option value="@location">@location</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="patientRoomNumber">Recipient's Hospital Room Number</label>
                    <input type="text" class="form-control" id="patientRoomNumber" name="patientRoomNumber" />
                </div>
            </div>
        </div>
        <div class="form-section clearfix" id="preview-button">
            <div class="col-xs-12">
                <div class="form-group">
                    <input type="hidden" value="@Model.ItemID" name="cardId" />
                    <input type="submit" value="Preview Card »" class="btn btn-default" id="previewCard" name="previewCard" />
                </div>
            </div>
        </div>
    </form>
</div>