﻿@model IEnumerable<BaptistCheerCardApplication.Models.Category>

@{
    ViewBag.Title = "Send a Cheer Card";
}

<div class="row" id="card-categories">
    <h2>View Cards by Category</h2>
    @foreach (var item in Model) {
       <div class="col-xs-6 col-sm-4 col-lg-3">
           @{ 
               var randomCard = item.GetRandomCard();
               BaptistCheerCardApplication.Models.CardImage cardImage;
               if (randomCard == null) {
                   cardImage = null;
               } else {
                   cardImage = randomCard.CardImageObject;
               }
               bool isValidHost = Uri.IsWellFormedUriString(cardImage.ItemMedialUrl, UriKind.Absolute);
               string cardImageUrl = "";
               if (isValidHost) {
                   cardImageUrl = cardImage.ItemMedialUrl;
               } else {
                   cardImageUrl = "https://" + ViewBag.RootDomain + cardImage.ItemMedialUrl;
               }
               // Strip off query string arguments
               UriBuilder cardImageUriObj = new UriBuilder(cardImageUrl);
               cardImageUriObj.Query = "bc=transparent&db=web";
               cardImageUrl = cardImageUriObj.ToString();
           }
           <div class="category-box-container">
               <div class="category-box">
                   <a href="/Home/Category/@item.ItemID.Trim(new char[] { '{', '}' })">
                    <img src="@cardImageUrl" alt="@cardImage.Alt" class="img-thumbnail" />
                    <div>@item.CategoryName</div>
                   </a>
               </div>
           </div>
       </div>
    }
</div>