﻿@model BaptistCheerCardApplication.Models.Card

@{ 
    ViewBag.Title = "Send a Cheer Card";
}

<div class="row" id="card-preview">
    <div class="preview-container">
        <div class="col-xs-12">
            <div class="text-center introduction"><h2>Hello, @Request.Form["patientFirstName"] @Request.Form["patientLastName"]</h2></div>
            <div class="personal-message">@Request.Form["personalMessage"]</div>
        </div>
        <div class="card-image col-xs-12">
            @{
                BaptistCheerCardApplication.Models.CardImage cardImage = Model.CardImageObject;
                bool isValidHost = Uri.IsWellFormedUriString(cardImage.ItemMedialUrl, UriKind.Absolute);
                string cardImageUrl = "";
                if (isValidHost) {
                    cardImageUrl = cardImage.ItemMedialUrl;
                }
                else {
                    cardImageUrl = "https://" + ViewBag.RootDomain + cardImage.ItemMedialUrl;
                }
                // Strip off query string arguments
                UriBuilder cardImageUriObj = new UriBuilder(cardImageUrl);
                cardImageUriObj.Query = "bc=transparent&db=web";
                cardImageUrl = cardImageUriObj.ToString();
            }
            <img class="img-responsive" src="@cardImageUrl" alt="@Model.CardImageObject.Alt" />
        </div>
        <div class="from-details col-xs-12">
            @{ 
                string serverUrl = String.Format("{0}://{1}", Request.Url.Scheme, Request.Url.Host);
            }
            <img class="img-responsive" src="@BaptistCheerCardApplication.Utils.LocationLogo.GetUrl(Request.Form["hospitalLocation"].ToString(), serverUrl)" />
            <div class="from-name">
                From: @Request.Form["firstName"] @Request.Form["lastName"]<br />
                @Request.Form["emailAddress"]<br />
                @Request.Form["phoneNumber"]
            </div>
        </div>
@if (Request.Params["generatePdf"] != "true") {
        <div class="col-xs-12" id="submit-links">
            <a href="#back" id="goBack">Go back and make changes</a>
            <a href="/Home/Confirmation" id="sendCard">Send Card</a>
        </div>
}
    </div>
</div>